@font-face {
    font-family: W95FA;
    src: url('game/font/W95FA.otf');
    font-display: swap;
}

body {
    color: white;
    background-color: #018281;
    font-family: 'W95FA';
    display: grid;
    place-items: center;
    text-align: center;
}

h1 {
    color: yellow;
}

a {
    color: white;
    font-size: 20px;
}

label, p, pre {
    font-family: 'W95FA';
    font-size: 20px;
}

button {
    background-image: url("textures/button.png");
    background-size: cover;
    font-family: 'W95FA';
    font-size: 17px;
    height: 28px;
}

#title {
    position: absolute;
    top: 60px;
    left: 60px;
    font-size: 30px;
    color: white;
}
