.mineSweeperTable{
	border-collapse: collapse;
}

.mineSweeperCell{
	vertical-align: top;
	padding: 0;
	margin: 0;
	line-height: 0px;
	border: 1px solid black;
}

.mineSweeperButton {

	/* margin: -1px !important;
	padding: 4px !important; */
	background:rgb(189, 189,189);
	padding: 0;
	margin: 0;
	font-size: 30px;
	font-weight: bolder;
	width: 100%;
  	height: 100%;
	border: none;
	line-height: -1px !important;
	text-align: center;
	/* float: left; */
	background-size: cover;
	
}

#minesweeperHolder{
	/* min-height: fit-content;
	/* min-width: fit; */
	width: min-content;
	margin: auto;
	background-color: transparent;
	text-align: center;
}

.mineCounter{
	float: right;

	width: 100px;
	padding: 0px 7px 0px 0px;
	background:rgb(189, 189,189);
	border: none;
	font-size: 28px;
	font-weight: bolder;
	/* background-size: 30px auto; */
	/* line-height: 1px; */
	align-items:center;
    justify-content:right;
	margin: 0px 1px 0px 0px;
	/* position: static; */
	display: flex;

}

.toggleFlag{
	/* background: red !important; */
	width: auto;
	border: none;
	/* border-left: 2px solid black; */
	padding: 10px;
	background:rgb(189, 189,189);
	border-width: 2px;
	font-size: 28px;
	font-weight: bolder;
	background-size: 30px auto;
	line-height: 0px;
	text-align: center;
	margin-top: 0px;
	/* margin: -2px -1px 0px -1px !important; */
	float: right;
}

.fullScreenButton{
	width: auto;
	border: none;
	/* border-left: 2px solid black; */
	padding: 8px;
	background:rgb(189, 189,189);
	border-width: 2px;
	font-size: 28px;
	font-weight: bolder;
	background-size: 30px auto;
	line-height: 0px;
	text-align: center;
	margin-top: 0px;
	/* margin: -2px -1px 0px -1px !important; */
	float: right;
	background-clip: content-box;
	/* background-size: cover; */
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.3s ease-in-out;
	color: black
}

.fullScreenButton:hover{
	padding: 1px;
	background-clip: padding-box;
	border: outset !important;
	/* background-size: cover; */
}

.toggleFlag:hover{
	border: outset !important;
}

/* #mineSweeperContainer{
	position: relative;
	text-align: center;
	width: min-content;
	height: auto;
	margin: auto;
	margin-left: -1px;
	margin-right: 0px;
	border: black;
	border-style: solid;
	background-color: rgb(189,189,189)
} */

#mineSweeperContainer{
	position: relative;
	/* margin: auto; */
	height: auto;
	width: fit-content;
	text-align: center;
	border: black;
	border-style: solid;
	background-color: rgb(189,189,189)
}

.bomb{
	background-image: URL('../Images/bomb.png') !important;
}

.flag{
	background-image: URL('../Images/bomb.png') !important;
}

#flag {
	padding: -1;
	width: 28px;
	height: 28px;
	background-size: 35px auto;
	background-image: URL('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Minesweeper_flag.svg/1024px-Minesweeper_flag.svg.png');
	margin-left: -6px;
	margin-top: -8px;
	position: static;
}

.solver{
	position: relative;;
	width: fit-content;
	/* min-width: 200px; */
	/* padding: 10px; */
	background:rgb(189, 189,189);
	border: none;
	/* border-left: 2px solid black !important; */
	border-width: 2px;
	font-size: 28px;
	font-weight: bolder;
	background-size: 30px auto;
	/* line-height: 0px; */
	text-align: center;
	margin-top: 0px;
	/* margin: -2px -1px 0px -1px !important; */
	/* float: right; */
}

.difficulty{
	width: 100%;
  	height: 100%;
	padding: 10px;
	background:rgb(189, 189,189);
	/* border-bottom: none; */
	border: none;
	/* border-top: none; */
	font-size: 28px;
	font-weight: bolder;
	background-size: 30px auto;
	line-height: 0px;
	text-align: center;
	
	margin-top: 0px;
	/* margin: -2px -1px 0px -1px !important; */
	/* padding-bottom: 2px; */
	position: static;
}
